<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <title>Best Books!</title>
</head>
<body>
    <header>
        <h1>Best Books!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/searches/new">Search the Google Books API</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/searches" method="post">
            <input type="text" name="searchBox" placeholder="Enter a title or author" required>
            <label for="title">
                <span>Title</span>
                <input type="radio" name="search" value="title" required>
            </label>
            <label for="author">
                <span>Aouthor</span>
                <input type="radio" name="search" value="author" required>
            </label>
            <button type="submit">Search the Google Books API</button>
        </form>
    </main>
    <footer></footer>
</body>
</html>