<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <title>Best Books!</title>
</head>

<body>
    <header>
        <h1>Best Books!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/searches/new">Search the Google Books API</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="tit">Search by Title or Author</h2>
        <form action="/searches" method="post">
            <input type="text" name="input" placeholder="Enter a Title or Auther" class="input" required>
            <div class="radio">
                <label>Title</label>
                <input type="radio" value="title" name="search" id="title" required>
            </div>
            <div class="radio">
                <label>Author</label>
                <input type="radio" value="Author" name="search" id="Author" required>
            </div>
            <button type="submit" class="adding">Search the Google Books API</button>
        </form>
    </main>
</body>

</html>