<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/reset.css">
    <title>404 Not Found</title>
</head>

<body>
    <main class="error">
        <div class="img"></div>
        <h2 class="warning">OPSE!</h2>
        <p class="para">The page that you are lookink for is not found</p>
        <p class="para1">You can go back to home page from <a href="/" class="index">here</a></p>
    </main>
</body>

</html>